<%= link_to "Add project", new_admin_project_path, class: "btn btn-primary" %>
<h1>Mes projets :</h1>
<% @projects.each do |proj| %>
<div class="card-index">
  <div class="part">
    <% if proj.photo.attached? %>
      <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path proj.photo.key, crop: :fill %>')">
    <% else %>
      <div class="card-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://atasouthport.com/wp-content/uploads/2017/04/default-image.jpg)">
    <% end %>
      <%= link_to proj.title, project_path(proj) %>
      </div>
  </div>
  <div class="part">
    <h4>Description :</h4>
    <%= proj.description %>
    <em><%= link_to proj.url %></em>
  </div>
</div>
<% end %>
