<h1><%= @project.title %></h1>
<h4>Mes collaborateurs sur ce projet :</h4>
<p><%= @project.collaborators_desc %></p>
<%= cl_image_tag @project.photo.key, width: 1000, height: 600, crop: :fill %>

<h4>Plus en détail :</h4>
<p><%= @project.description %></p>
<p>Compétences utilisées :</p>
<% @project.skills.each do |skill| %>
  <p><em><%= skill.title %> : <%= skill.rating %>/5
  <i class="fas fa-star"></i></em></p>
<% end %>
<p>Démmaré le: <%= @project.date_start %></p>
<% if @project.finished == true %>
  <p>Terminé le : <%= @project.date_end %></p>
<% end %>

<%= link_to "Modifier", edit_admin_project_path(@project), class: "btn btn-warning" %>
<%= link_to "Supprimer", admin_project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
