<h1><%= @project.title %></h1>
<%= cl_image_tag @project.photo.key %>
<h4><%= @project.collaborators_desc %> </h4>

<h4>Plus en détail :</h4>
<p><%= @project.description %></p>
<% @project.skills.each do |skill| %>
  <p><i><%= skill.title : skill.rating %></i></p>
<% end %>
<%= @project.date_start %>
<% if @project.finished == true %>
  <%= @project.date_end %>
<% end %>
